@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <img src="~/img/logobaltas.jpg" alt="user" width=30% height=30%>
</div>   


<link rel="stylesheet" type="text/css" href="./site.css" />
    @* <script type="module" src="~/js/index.js"></script> *@
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<body>
<div class="row" id="contatti">
    <div class="container mt-5">

        <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
                <div id="map"></div>
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANm-EZYls0FDdAoKajJCDT7exvnKmHo1M&callback=initMap&v=weekly"
                    defer></script>
                @* <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" frameborder="0" style="border:0" allowfullscreen></iframe> *@
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">MARŠRUTAS</h2>
                @* <form action=""> *@
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Pradžios taškas" required>
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding-bottom: 10px">
                            <div class="form-group">
                                <input type="text" class="form-control mt-2" placeholder="Kelionės tikslas" required>
                            </div>
                        </div>
                    </div>
                <div class="col-12">
                    <button class="btn btn-light" type="submit" id="submitBtn">Patvirtinti</button>
                </div>
                <div>
                     <table id="tableId">
                      <tr>
                        <th>Vežėjas</th>
                          <th>Rajonas (iš kur)</th>
                          <th>Laikas ir data</th>
                          <th></th>
                      </tr>
                      <tr>
                          <td style="padding: 3px">A. Antanaitis</td>
                          <td>Žirmūnai</td>
                          <td>8:00 10-02</td>
                          <td style="padding-bottom: 30px; padding-top: 10px">
                              <button type="submit" class="accept" id="openDialog" onclick="openPopup()">Pasirinkti</button>
                              <div class="popup" id="popup">
                                  <img src="tick.png"/>
                                  <h2>Vežėjas pasirinktas!</h2>
                                  <p> A. Antanaitis jau pakeliui!</p>
                                  <button type="button" onclick="closePopup()">Gerai</button>
                              </div>
                          </td>
                      </tr>
                     <tr>
                         <td>J. Janinienė</td>
                         <td>Žirmūnai</td>
                         <td>9:20 10-03</td>
                         <td style="padding-bottom: 30px">
                             <button class="accept">Pasirinkti</button>
                         </td>
                     </tr>
                     <tr>
                         <td>O. Odetienė</td>
                         <td>Žirmūnai</td>
                         <td>9:30 10-05</td>
                         <td style="padding-bottom: 30px">
                             <button href="#" class="accept">Pasirinkti</button>
                         </td>
                     </tr>
                    </table> 
                </div>
                    
                @* </form> *@
            </div>
        </div>
    </div>
</div>
<script>
        let map;
        let markersArray = []
        const mapId = document.getElementById("map");
        const submitBtn = document.getElementById("submitBtn");
        const openBtn = document.getElementById("openDialog");
        const popup = document.getElementById("popup");
        
        function openPopup(){
           popup.classList.add("open-popup");
        }
        
        function closePopup(){
            popup.classList.remove("open-popup");
        }
        
        
        function initMap() {
          
          map = new google.maps.Map(mapId, {
            center: {lat: 54.685, lng: 25.279},
            zoom: 8
          });
          
          map.addListener('click', function(e) {
            console.log(e);
            addMarker(e.latLng);
          });
          
          submitBtn.addEventListener('click', function (e){
             var coord = {lat: 54.727, lng: 25.267};
             
             
             var directionsDisplay = new google.maps.DirectionsRenderer();
             var directionsService = new google.maps.DirectionsService();
            
             map = new google.maps.Map(mapId, {
                center: coord,
                zoom: 11
             }); 
             
             directionsDisplay.setMap(map);
               
               var x = document.getElementById("tableId");
               
               var start = {lat: 54.757, lng: 25.235};
               var end = {lat: 54.714, lng: 25.308};
               var request = {
                 origin: start,
                 destination: end,
                 travelMode: 'DRIVING'
               };
             
               directionsService.route(request, function(response, status) {
                 if (status == 'OK') {
                   directionsDisplay.setDirections(response);
                   x.style.display = "block"
                 } else {
                   alert("directions request failed, status=" + status)
                 }
               });
              
             // addMarker(start);
             // addMarker(end);
          });
          
        }
        
        function addMarker(latLng) {
            
            let marker = new google.maps.Marker({
                map: map,
                position: latLng,
                draggable: true
            });
            
            markersArray.push(marker);
        }
        
        
    </script>
</body>

