@{
    //ViewData["Title"] = "User Profile";
    <div class="text-center">
        <img src="~/img/profile2.jpg" alt="user" width=80% height=80%>
        <br><br>
    </div>
    
}
<h1>@ViewData["Title"]</h1>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="~/img/blank_profile.jpg"><span class="font-weight-bold">Vardenis Pavardenis</span><span class="text-black-50">vardenis.pavardenis@gmail.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profilio nustatymai</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Vardas</label><input type="text" class="form-control" placeholder="įveskite vardą" value=""></div>
                    <div class="col-md-6"><label class="labels">Pavardė</label><input type="text" class="form-control" value="" placeholder="įveskite pavardę"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Telefono numeris</label><input type="text" class="form-control" placeholder="įveskite telefono numerį" value=""></div>
                    <div class="col-md-12"><label class="labels">Mikrorajonas</label><input type="text" class="form-control" placeholder="įveskite mikrorajoną" value=""></div>
                    <div class="col-md-12"><label class="labels">Gatvė</label><input type="text" class="form-control" placeholder="įveskite gatvę" value=""></div>
                    <div class="col-md-12"><label class="labels">Elektroninis paštas</label><input type="text" class="form-control" placeholder="įveskite elektroninio pašto adresą" value=""></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Saugoti pakeitimus</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Duomenys apie transporto priemonę</h4>
                </div>
                <div class="col-md-12"><label class="labels">Automobilio valstybinis numeris</label><input type="text" class="form-control" placeholder="Įveskite automobilio valstybinį numerį" value=""></div> <br>
                <span class="border px-3 p-1 add-experience text-white"><i class="fa fa-plus"></i>&nbsp;Tvirtinti</span></div><br>
        </div>
    </div>
</div>

